<html><head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Narayana Chikkam | Projects </title>

  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

</head>

<body>

  <div id="menubar">
    <div id="menubar-inner">
    </div>
  </div>

  <div class="container-fluid" id="container">

	  <div class="row">
	    <div class="col-md-12">
	      <h1>Apps </h1>
	    </div>
	  </div>

	  <div class="row mt30">
		  <div class="col-sm-3 col-xs-7">
			  <a href="jsonparserapp">
				  <img src="../images/screenshots/jsonparser.png" width="200" height="200">
				  <h2>JSON Resume Parser App</h2>
			  </a>
			  <p>A simple JSON parser that parses a resume in JSON format.</p>
		  </div>

		  <div class="col-sm-3 col-xs-7">
			  <a href="ttt">
				  <img src="../images/screenshots/ttt.png" width="200" height="200">
				  <h2>3x3 Tic Tac Toe Game App</h2>
			  </a>
			  <p>Classical Min-Max Approach with Custom Changes</p>
		  </div>

		  <div class="col-sm-3 col-xs-7">
			  <a href="ttt4x4">
				  <img src="../images/screenshots/ttt4x4.png" width="200" height="200">
				  <h2>4x4 Tic Tac Toe Game App</h2>
			  </a>
			  <p>Logical Approach For Playing 4x4 Tic Tac Toe Game</p>
		  </div>

		  <div class="col-sm-3 col-xs-7">
			  <a href="urlshortener">
				  <img src="../images/screenshots/urlshortener.png" width="200" height="200">
				  <h2>URL Shortener App</h2>
			  </a>
			  <p>A Simple App for Shortening Long URL Strings</p>
		  </div>

	  </div>

  		</div>
	</body>
</html>