<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/stylesheets/index.css" rel="stylesheet">
  </head>
  <body>

    <a href="urlshortener">URL Shortener</a><br>
    <a href="ttt">TTT</a><br>
    <a href="jsonparser">Json Resume</a><br>

  </body>
</html>
{% endautoescape %}