<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/stylesheets/urlshortener.css" rel="stylesheet">
    <script>
        function validateForm() {
            var x = document.forms["parserapp"]["jsonUrl"].value;
            if (x == null || x == "") {
                alert("JSON Url cannot be null or empty, please enter a genuine URL");
                return false;
            }
        }
    </script>

  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">JSON Resume Parser App</a>
        </div>
      </div>
    </div>
    <div class="container">

        <br><br><br><br>
        <div class="brand" >
        A simple tool to parse a given .json url resume into a presentation format such as .html. This tool offers
        two types of parsing techniques. One with d3 javascript visualization library and other with python standard
        json parsing.
            </div>
        <br><br><br><br>

        <form name="parserapp" action="/jsonparser" method="post" onsubmit="return validateForm()">
            <b>Choose Kind Of Parser:</b>
            <select name="parsertype">
                <option value="javascript(d3)">JavaScript (d3)</option>
                <option value="Python">Python</option>
                <option value="Python(Theme-Paper)">Python(Theme-Paper)</option>
            </select>
            <br>
            <div><textarea name="jsonUrl" class="input-block-level" rows="1"></textarea></div>
            <div><input type="submit" class="btn btn-large btn-primary" value="Parse JSON"></div>
        </form>

        <hr>
        <div>
              <b>Paste One Of the Below URL(s) to see the parsed Resume.</b><br>
            <a href="https://raw.githubusercontent.com/nchikkam/projects/master/mvly/json/resume.json">
            https://raw.githubusercontent.com/nchikkam/projects/master/mvly/json/resume.json</a><br>
            <a href="https://raw.githubusercontent.com/nchikkam/projects/master/mvly/json/extendedresume.json">
                https://raw.githubusercontent.com/nchikkam/projects/master/mvly/json/extendedresume.json
            </a>
        </div>
    </div>

  </body>
</html>