<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/screen.css">
	</head>
	<body style="color: rgb(0,0,255)">
		<div id="page" class="unselectable">
                <div id="top-contact">
                    <div class="contact-details">
                        <div class="icon-square"></div> <div id="email"><b>{{ resume.header.email }}</b></div>
                        <div class="icon-square"></div> <div id="phone"><b>{{ resume.header.phone }}</b>></div>
                    </div>
                </div>

                <div id="name" class="emphnext">{{ resume.header.firstname }}</div><br><br>

                <span id="talents" class="stars" style="clear:left">{{ talents }}</span>
                <br><br>

                <div id="experienceHeading" class="icon-briefcase icon-square emphh2">Experience</div><br><br>
                <div id="exps">
                {% for exp in exps %}
                    <ul>
                        <li>
                            <div id="title"><b>{{exp.title}}</b>, {{exp.duration}}, {{exp.organisation}}</div><br>
                            {% for project in exp.projects %}
                            <ul>
                                <li>{{project}}</li>
                            </ul>
                            {% endfor %}
                        </li>
                    </ul>
                    <br>
                {% endfor %}

                <br>


                <div id="educationHeading" class="emphh2">Education</div><br>
                <div id="education" class="icon-briefcase">
                    {% for degree in resume.education %}
                    <ul>
                        <li>{{degree}}</li>
                    </ul>
                    {% endfor %}
                </div>
                <br>
                <div id="openSourceHeading" class="emphh2">OpenSource Links</div>
                <br>
                <div id="opensource" class="icon-briefcase">
                    {% for contribution in opensources %}
                    <ul>
                        <li><a href="{{contribution.1}}">{{contribution.0}}</a></li>
                    </ul>
                    {% endfor %}
                </div>
		    </div>
        </div>
    </body>
</html>