<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/stylesheets/screen.css" />
		<script src="js/d3/d3.v3.min.js"></script>
		<script src="js/jp.js"></script>
		<script type='text/javascript'>
			render("{{ jsonUrl }}");
		</script>
	</head>
	<body>
		<div id="page"  class="unselectable">
			<div id="top-contact">
				<div class="contact-details">
					<div class="icon-square"></div> <div id="email"></div>
					<div class="icon-square"></div> <div id="phone"></div>
				</div>
			</div>

			<div id = "name" class="emphnext"></div><br><br>

			<span id="talents" class="stars" style="clear:left"></span>
			<br><br>

			<div id="experienceHeading" class="icon-briefcase icon-square emphh2"></div><br><br>
			<div id="exps"></div><br>


			<div id = "educationHeading" class="emphh2"></div><br>
			<div id="education" class="icon-briefcase"></div><br>

			<div id = "openSourceHeading" class="emphh2"></div><br>
			<div id="opensource" class="icon-briefcase"></div>

		</div>
	</body>
</html>