<html>
  <head>
    <script src="js/bundle.js"></script>
    <link rel="stylesheet" href="/stylesheets/jsonformatter.css">
    <link rel="stylesheet" href="/stylesheets/formatter.css">
    <script src="js/purejson.js"></script>
  </head>
  <body>
    <div class="intro">
      <div class="gh">
      </div>
      <h1><code>JSON Resume</code></h1>
      <p>
        JSON Composed Resume in <b>Collapsible/Expandable</b> style.
      </p>
    </div>

    <div class="json"></div>

    <script>
      render({{ json }});
    </script>
  </body>
</html>