<html>
  <head>
    <script src="js/bundle.js"></script>
    <link rel="stylesheet" href="/stylesheets/jsonformatter.css">
    <link rel="stylesheet" href="/stylesheets/formatter.css">
  </head>
  <body>
    <div class="intro">
      <div class="gh">
      </div>
      <h1><code>JSON Resume</code></h1>
      <p>
        JSON Composed Resume in <b>Collapsible/Expandable</b> style.
      </p>
    </div>

    <div class="json"></div>

    <script>
      function render(jsonObject){
          var content = [
            {title: 'Json Resume', json: jsonObject}
          ];
          var result = document.querySelector('.json');
          content.forEach(function(example) {
            var title = document.createElement('h3');
            var formatter = new JSONFormatter(example.json, 1, example.config);
            title.innerText = example.title;
            result.appendChild(title)
            var el = formatter.render();

            result.appendChild(el);
          });
      }
      render({{ json }});
    </script>
  </body>
</html>