<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/stylesheets/ttt.css" rel="stylesheet">
        <title>Tic-Tac-Toe skeleton</title>
        <script type='text/javascript'>
            window.onload=function(){

                var board = [  // actual board
                    [0, 0, 0],
                    [0, 0, 0],
                    [0, 0, 0]
                ];
                var DRAW =  0;
                var COMP = -1;
                var USER =  1;

                // helpers

                function reset_board(){
                    board = [  // actual board
                        [0, 0, 0],
                        [0, 0, 0],
                        [0, 0, 0]
                    ];
                }

                function player_wins(player){
                    if(board[0][0]==player && board[0][1]==player && board[0][2]==player) return 1;
                    if(board[1][0]==player && board[1][1]==player && board[1][2]==player) return 1;
                    if(board[2][0]==player && board[2][1]==player && board[2][2]==player) return 1;

                    if(board[0][0]==player && board[1][0]==player && board[2][0]==player) return 1;
                    if(board[0][1]==player && board[1][1]==player && board[2][1]==player) return 1;
                    if(board[0][2]==player && board[1][2]==player && board[2][2]==player) return 1;

                    if(board[0][0]==player && board[1][1]==player && board[2][2]==player) return 1;
                    if(board[0][2]==player && board[1][1]==player && board[2][0]==player) return 1;
                    return 0;
                }

                function board_full(){
                    for(var r=0; r< 3; r++){
                        for(var c=0; c < 3; c++){
                            if (board[r][c] == 0){
                                return 0;
                            }
                        }
                    }
                    return 1;
                }

                function get_profit(player){  //single minimax function for both the users.
                    var profit,
                        profit_so_far;

                    if(player_wins(USER) == 1){  //check for each player weather they won!
                        return -1; //USER;
                    }

                    if(player_wins(COMP) == 1){
                        return 1; //COMP;
                    }

                    if(board_full() == 1){   //board was full, no body won !
                        return DRAW;
                    }

                    if(player==COMP){
                        profit_so_far = -1;
                        for(var i=0;i<3;++i)
                          for(var j=0;j<3;++j)
                            if(board[i][j]== 0){  //unvisited
                               board[i][j] = COMP;
                               profit = get_profit(player*-1);
                               if( profit > profit_so_far){   //max value that user gains
                                 profit_so_far = profit;
                               }
                               board[i][j] = 0;
                            }
                         return profit_so_far;
                    }else if(player==USER){
                        profit_so_far = 1;
                        for(var i=0;i<3;++i)
                          for(var j=0;j<3;++j)
                            if(board[i][j]== 0){  //unvisited
                               board[i][j] = USER;
                               profit = get_profit(player*-1); //check the worst profit of the other user [COMP here]
                               if( profit < profit_so_far){    //Minimum value that the comp gains
                                 profit_so_far = profit;
                               }
                               board[i][j] = 0;
                            }
                         return profit_so_far;
                        }
                }

                var turn = USER; //'X';
                function next() {
                    //turn = turn === 'X' ? 'O' : 'X';
                    turn = turn === COMP ? USER : COMP;
                }

                function compMove(){
                    var best_row,
                        best_col;

                    var best_profit = -1;  //worst situation for comp to win
                    var compWins = 0;

                    for(var i=0;i<3;++i){
                        for(var j=0;j<3;++j){
                            if(board[i][j]==0){
                                board[i][j] = COMP; //-1 for comp place the piece

                                compWins = player_wins(COMP);
                                if(compWins == 1) {
                                    break;
                                }
                                p = get_profit(USER);  //find the least profi that the other player can get if we placed the piece at i, j position
                                //console.log("Profit for "+ i + " " + j + " :" + p );
                                if(p>=best_profit){
                                    best_row = i; best_col = j;
                                    best_profit = p;
                                }
                                board[i][j] = 0; //reset
                            }
                        }
                        if(compWins == 1) {
                            break;
                        }
                    }

                    if(compWins == 1){
                        return [i, j];
                    }else if ( board_full() == 1 ){
                        return [-1, -1];
                    }


                    board[best_row][best_col] = -1;
                    return [best_row, best_col];
                }

                function play() {
                    if (this.innerHTML === '') {
                        this.innerHTML = turn;


                        this.r = this.id.split(",")[0];
                        this.c = this.id.split(",")[1];

                        board[this.r][this.c] = turn;

                        //next();
                        var wonFlag = 0;
                        var rc = compMove();
                        var id = rc[0] + "," + rc[1];

                        if ( id == "-1,-1" ){
                            alert("Match Draw !!!");
                            document.getElementById("reset").onclick();
                            return;
                        }else if ( player_wins(COMP)){
                            document.getElementById(id).innerHTML = COMP;
                            alert("Computer Wins !!!");
                            document.getElementById("reset").onclick();
                            return;
                        }

                        document.getElementById(id).innerHTML = COMP;

                        /*if (player_wins(USER)){
                            alert("You Win :) !!!");
                            document.getElementById("reset").onclick();
                        }*/
                    }
                }

                var cells = document.getElementById("board").getElementsByTagName("td");
                for (var i in cells) {
                   cells[i].onclick = play;
                }
                document.getElementById("reset").onclick = function() {
                    for (var i in cells) {
                       cells[i].innerHTML = '';
                       reset_board();
                    }
                }
            }


        </script>

    </head>

    <body>
    <br><br><br><br><br><br><br><br><br>
    <div style="width: 60%; margin: 0px auto;">
    <table id="board" border="1" cellpadding="5" align="center">
        <tbody>
            <tr>
                <td id="0,0"></td>
                <td id="0,1"></td>
                <td id="0,2"></td>
            </tr>
            <tr>
                <td id="1,0"></td>
                <td id="1,1"></td>
                <td id="1,2"></td>
            </tr>
            <tr>
                <td id="2,0"></td>
                <td id="2,1"></td>
                <td id="2,2"></td>
            </tr>
        </tbody>
    </table><br>
    <button id="reset">Restart</button>
        <pre>
-1: Computer Move
1: User/You

            </pre>
        </div>
    <br><br><br><br><br><br><br><br><br>

    </body>
</html>
