<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/ttt.css" />

        <title>Tic-Tac-Toe Skeleton</title>
        <script type='text/javascript'>
            var board = [  // actual board
                    [0, 0, 0, 0],
                    [0, 0, 0, 0],
                    [0, 0, 0, 0],
                    [0, 0, 0, 0]
            ];
            var DRAW =  0;
            var COMP = 'O';   // -1
            var USER =  'X';  //  1
            var firstTime = 1;

            window.onload=function(){

                function board_full(){
                    for(var r=0; r< 4; r++){
                        for(var c=0; c < 4; c++){
                            if (board[r][c] == 0){
                                return 0;
                            }
                        }
                    }
                    return 1;
                }

                var strategy = {
                    //corner
                    "0,0": {    
                            "0,0": "1,1", "0,1": "0,3", "0,2": "3,2", "0,3": "0,1", 
                            "1,0": "2,0",               "1,2": "2,1", "1,3": "3,3",
                            "2,0": "1,0", "2,1": "1,2", "2,2": "2,3", "2,3": "2,2",
                            "3,0": "3,1", "3,1": "3,0", "3,2": "0,2", "3,3": "1,3"
                    },

                    "0,3": {   
                            "0,0": "0,2", "0,1": "3,1", "0,2": "0,0", "0,3" :"1,2",
                            "1,0": "3,0", "1,1": "2,2",               "1,3": "2,3",
                            "2,0": "2,1", "2,1": "2,0", "2,2": "1,1", "2,3": "1,3",
                            "3,0": "1,0", "3,1": "0,1", "3,2": "3,3", "3,3": "3,2" 
                    },

                    "3,0": {   
                            "0,0": "0,1", "0,1": "0,0", "0,2": "3,2", "0,3": "2,3",
                            "1,0": "2,0", "1,1": "2,2", "1,2": "1,3", "1,3": "1,2",
                            "2,0": "1,0",               "2,2": "1,1", "2,3": "0,3",
                            "3,0": "2,1", "3,1": "3,3", "3,2": "0,2", "3,3": "3,1"
                    },
                    "3,3": {
                            "0,0": "2,0", "0,1": "3,1", "0,2": "0,3", "0,3": "0,2",
                            "1,0": "1,1", "1,1": "1,0", "1,2": "2,1", "1,3": "2,3",
                            "2,0": "0,0", "2,1": "1,2",               "2,3": "1,3",
                            "3,0": "3,2", "3,1": "0,1", "3,2": "3,0", "3,3": "2,2"
                    },

                    //second
                    "0,1":{
                            "0,0": "1,0", "0,1": "1,1", "0,2": "0,3", "0,3": "0,2",
                            "1,0": "0,0",               "1,2": "2,1", "1,3": "3,3",
                            "2,0": "2,3", "2,1": "1,2", "2,2": "3,2", "2,3": "2,0",
                            "3,0": "3,1", "3,1": "3,0", "3,2": "2,2", "3,3": "1,3"
                    },
                    "0,2":{
                            "0,0": "0,1", "0,1": "0,0", "0,2": "1,2", "0,3": "1,3",
                            "1,0": "3,0", "1,1": "2,2",               "1,3": "0,3",
                            "2,0": "2,3", "2,1": "3,1", "2,2": "1,1", "2,3": "2,0",
                            "3,0": "1,0", "3,1": "2,1", "3,2": "3,3", "3,3": "3,2"
                    },
                    "3,1": {
                            "0,0": "0,1", "0,1": "0,0", "0,2": "1,2", "0,3": "2,3",
                            "1,0": "1,3", "1,1": "2,2", "1,2": "0,2", "1,3": "1,0",
                            "2,0": "3,0",               "2,2": "1,1", "2,3": "0,3",
                            "3,0": "2,0", "3,1": "2,1", "3,2": "3,3", "3,3": "3,2"

                    },
                    "3,2": {
                            "0,0": "2,0", "0,1": "1,1", "0,2": "0,3", "0,3": "0,2",
                            "1,0": "1,3", "1,1": "0,1", "1,2": "2,1", "1,3": "1,0",
                            "2,0": "0,0", "2,1": "1,2",               "2,3": "3,3",
                            "3,0": "3,1", "3,1": "3,0", "3,2": "2,2", "3,3": "2,3"
                    },

                    //inside
                    "1,2": {
                            "0,0": "0,1", "0,1": "0,0", "0,2": "3,2", "0,3": "2,1",
                            "1,0": "2,0",               "1,2": "1,1", "1,3": "3,3",
                            "2,0": "1,0", "2,1": "0,3", "2,2": "2,3", "2,3": "2,2",
                            "3,0": "3,1", "3,1": "3,0", "3,2": "0,2", "3,3": "1,3"
                    },
                    "1,1": {
                            "0,0": "2,2", "0,1": "3,1", "0,2": "0,3", "0,3": "0,2",
                            "1,0": "3,0", "1,1": "1,2",               "1,3": "2,3",
                            "2,0": "2,1", "2,1": "2,0", "2,2": "0,0", "2,3": "1,3",
                            "3,0": "1,0", "3,1": "0,1", "3,2": "3,3", "3,3": "3,2"
                    },
                    "2,2": {
                            "0,0": "0,1", "0,1": "0,0", "0,2": "3,2", "0,3": "2,3",
                            "1,0": "2,0", "1,1": "3,3", "1,2": "1,3", "1,3": "1,2",
                            "2,0": "1,0",               "2,2": "2,1", "2,3": "0,3",
                            "3,0": "3,1", "3,1": "3,0", "3,2": "0,2", "3,3": "1,1"
                    },
                    "2,1": {
                            "0,0": "2,0", "0,1": "3,1", "0,2": "0,3", "0,3": "0,2",
                            "1,0": "1,1", "1,1": "1,0", "1,2": "3,0", "1,3": "2,3",
                            "2,0": "0,0", "2,1": "2,2",               "2,3": "1,3",
                            "3,0": "1,2", "3,1": "0,1", "3,2": "3,3", "3,3": "3,2"
                    }
                };

                var stepper = {};

                function check(){
                    if(player_wins(USER)){
                        alert("You Won !!!");
                        document.getElementById("reset").onclick();
                        return 1;
                    }

                    if(player_wins(COMP)){
                        alert("Computer wins !");
                        document.getElementById("reset").onclick();
                        return 1;
                    }

                    if(board_full()){
                        alert("Draw ... No One Won !");
                        document.getElementById("reset").onclick();
                        return 1;
                    }
                    return 0;
                }

                function play() {
                    if (this.innerHTML === '') {
                        this.innerHTML = USER;
                        this.style.color='blue';

                        this.r = this.id.split(",")[0];
                        this.c = this.id.split(",")[1];

                        board[this.r][this.c] = USER;
                        var status = check();
                        if (status == 1) return;

                        if(firstTime ==1){
                            stepper = strategy[this.id];
                            firstTime = 9;
                        }

                        var rc = stepper[this.id];

                        var winRc = verifyIfComputerWinsWithAnyOtherPositions();
                        if(winRc !== ""){
                            rc = winRc;
                        }

                        document.getElementById(rc).innerHTML = COMP;
                        document.getElementById(rc).style.color='red';

                        r = rc.split(",")[0];
                        c = rc.split(",")[1];


                        board[r][c] = COMP;
                        status = check();
                        if (status == 1) return;
                    }
                }

                for(var i =0; i < 4; i++){
                    for(var j=0; j < 4; j++){
                        document.getElementById(i+","+j).onclick = play;
                    }
                }

                document.getElementById("reset").onclick = function() {
                    reset_board();
                }
            }

            function verifyIfComputerWinsWithAnyOtherPositions(){
                for(var i =0; i < 4; i++){
                    for(var j =0; j < 4; j++){
                        if (board[i][j] == 0){
                            board[i][j] = COMP;
                            if (player_wins(COMP)){
                                board[i][j] = 0;
                                return i+","+j;
                            }else{
                                board[i][j] = 0;
                            }
                        }
                    }
                }
                return "";  //no winning positions possible
            }

            function player_wins(player){
                if(board[0][0]==player && board[0][1]==player && board[0][2]==player && board[0][3]==player) return 1;
                if(board[1][0]==player && board[1][1]==player && board[1][2]==player && board[1][3]==player) return 1;
                if(board[2][0]==player && board[2][1]==player && board[2][2]==player && board[2][3]==player) return 1;
                if(board[3][0]==player && board[3][1]==player && board[3][2]==player && board[3][3]==player) return 1;

                if(board[0][0]==player && board[1][0]==player && board[2][0]==player && board[3][0]==player) return 1;
                if(board[0][1]==player && board[1][1]==player && board[2][1]==player && board[3][1]==player) return 1;
                if(board[0][2]==player && board[1][2]==player && board[2][2]==player && board[3][2]==player) return 1;
                if(board[0][3]==player && board[1][3]==player && board[2][3]==player && board[3][3]==player) return 1;

                if(board[0][0]==player && board[1][1]==player && board[2][2]==player && board[3][3]==player) return 1;
                if(board[0][3]==player && board[1][2]==player && board[2][1]==player && board[3][0]==player) return 1;
                return 0;
            }

            /*
                b = [["X","O","X","O"],[0,"O","O","X"],["O","X","X","X"],[0,"O","O","X"]]
                assert true player_wins("O") == 0

            */

            function reset_board(){
                for(var i =0; i < 4; i++){
                    for(var j=0; j < 4; j++){
                        document.getElementById(i+","+j).innerHTML = '';
                    }
                }

                board = [  // actual board
                    [0, 0, 0, 0],
                    [0, 0, 0, 0],
                    [0, 0, 0, 0],
                    [0, 0, 0, 0]
                ];
                firstTime = 1;
            }


            function help(){
                alert("Tic-Tac-Toe:  Tic-tac-toe (also known as Noughts and crosses or Xs and Os) is a paper-and-pencil game for two players, X and O, who take turns marking the spaces in a 4×4 grid. The player who succeeds in placing three of their marks in a horizontal, vertical, or diagonal row wins the game.")
            }
        </script>
    </head>

    <body bgcolor="#E6E6FA">
        <div align="center">
            <table cellpadding="0" cellspacing="0" border="0" width="600">
            <tbody>
                <tr>
                    <td valign="top" align="center" class="tBorder" style="padding:30px;padding-top:20px">
                        <h1 class="hh1"><b>Tic-Tac-Toe</b></h1>
                        <br><br>
                        <div align="left">Tic-tac-toe (also known as Noughts and crosses or Xs and Os) is a paper-and-pencil game for two players, X and O, who take turns marking the spaces in a 4×4 grid. The player who succeeds in placing three of their marks in a horizontal, vertical, or diagonal row wins the game.</div>
                        <br>
                            <table border="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="sqr4x4" style="width:400px; margin:0 auto;">
                                                <div id="0,0"></div>
                                                <div id="0,1"></div>
                                                <div id="0,2"></div>
                                                <div id="0,3"></div>
                                                <div id="1,0"></div>
                                                <div id="1,1"></div>
                                                <div id="1,2"></div>
                                                <div id="1,3"></div>
                                                <div id="2,0"></div>
                                                <div id="2,1"></div>
                                                <div id="2,2"></div>
                                                <div id="2,3"></div>
                                                <div id="3,0"></div>
                                                <div id="3,1"></div>
                                                <div id="3,2"></div>
                                                <div id="3,3"></div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <button id="reset">Restart</button>
                            <input type=button value="Help" onClick="help();">
                            <pre>
O: Computer Move
X: User/You
                            </pre>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>

    </div>
    <br><br><br><br><br><br><br><br><br>
    </body>
</html>