<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/ttt.css" />

        <title>Tic-Tac-Toe Skeleton</title>
        <script type='text/javascript'>
            window.onload=function(){

                var board = [  // actual board
                        [0, 0, 0, 0],
                        [0, 0, 0, 0],
                        [0, 0, 0, 0],
                        [0, 0, 0, 0]
                ];
                var DRAW =  0;
                var COMP = 'O';   // -1
                var USER =  'X';  //  1
                var firstTime = 1;

                // helpers

                function reset_board(){
                    board = [  // actual board
                        [0, 0, 0, 0],
                        [0, 0, 0, 0],
                        [0, 0, 0, 0],
                        [0, 0, 0, 0]
                    ];
                    firstTime = 1;
                }

                function player_wins(player){
                    if(board[0][0]==player && board[0][1]==player && board[0][2]==player && board[0][3]==player) return 1;
                    if(board[1][0]==player && board[1][1]==player && board[1][2]==player && board[1][3]==player) return 1;
                    if(board[2][0]==player && board[2][1]==player && board[2][2]==player && board[2][3]==player) return 1;
                    if(board[3][0]==player && board[3][1]==player && board[3][2]==player && board[3][3]==player) return 1;

                    if(board[0][0]==player && board[1][0]==player && board[2][0]==player && board[3][0]) return 1;
                    if(board[0][1]==player && board[1][1]==player && board[2][1]==player && board[3][1]) return 1;
                    if(board[0][2]==player && board[1][2]==player && board[2][2]==player && board[3][2]) return 1;
                    if(board[0][3]==player && board[1][3]==player && board[2][3]==player && board[3][3]) return 1;

                    if(board[0][0]==player && board[1][1]==player && board[2][2]==player && board[3][3]==player) return 1;
                    if(board[0][3]==player && board[1][2]==player && board[3][1]==player && board[3][0]==player) return 1;
                    return 0;
                }

                function board_full(){
                    for(var r=0; r< 4; r++){
                        for(var c=0; c < 4; c++){
                            if (board[r][c] == 0){
                                return 0;
                            }
                        }
                    }
                    return 1;
                }

                var strategy = {
                    //corner
                    "0,0": {    
                            "0,0": "1,1", "0,1": "0,3", "0,2": "3,2", "0,3": "0,1", 
                            "1,0": "2,0",               "1,2": "2,1", "1,3": "3,3",
                            "2,0": "1,0", "2,1": "1,2", "2,2": "2,3", "2,3": "2,2",
                            "3,0": "3,1", "3,1": "3,0", "3,2": "0,2", "3,3": "1,3"
                    },

                    "0,3": {   
                            "0,0": "0,2", "0,1": "3,1", "0,2": "0,0", "0,3" :"1,2",
                            "1,0": "3,0", "1,1": "2,2",               "1,3": "2,3",
                            "2,0": "2,1", "2,1": "2,0", "2,2": "1,1", "2,3": "1,3",
                            "3,0": "1,0", "3,1": "0,1", "3,2": "3,3", "3,3": "3,2" 
                    },

                    "3,0": {   
                            "0,0": "0,1", "0,1": "0,0", "0,2": "3,2", "0,3": "2,3",
                            "1,0": "2,0", "1,1": "2,2", "1,2": "1,3", "1,3": "1,2",
                            "2,0": "1,0",               "2,2": "1,1", "2,3": "0,3",
                            "3,0": "2,1", "3,1": "3,3", "3,2": "0,2", "3,3": "3,1"
                    },
                    "3,3": {
                            "0,0": "2,0", "0,1": "3,1", "0,2": "0,3", "0,3": "0,2",
                            "1,0": "1,1", "1,1": "1,0", "1,2": "2,1", "1,3": "2,3",
                            "2,0": "0,0", "2,1": "1,2",               "2,3": "1,3",
                            "3,0": "3,2", "3,1": "0,1", "3,2": "3,0", "3,3": "2,2"
                    },

                    //second
                    "0,1":{
                            "0,0": "1,0", "0,1": "1,1", "0,2": "0,3", "0,3": "0,2",
                            "1,0": "0,0",               "1,2": "2,1", "1,3": "3,3",
                            "2,0": "2,3", "2,1": "1,2", "2,2": "3,2", "2,3": "2,0",
                            "3,0": "3,1", "3,1": "3,0", "3,2": "2,2", "3,3": "1,3"
                    },
                    "0,2":{
                            "0,0": "0,1", "0,1": "0,0", "0,2": "1,2", "0,3": "1,3",
                            "1,0": "3,0", "1,1": "2,2",               "1,3": "0,3",
                            "2,0": "2,3", "2,1": "3,1", "2,2": "1,1", "2,3": "2,0",
                            "3,0": "1,0", "3,1": "2,1", "3,2": "3,3", "3,3": "3,2"
                    },
                    "3,1": {
                            "0,0": "0,1", "0,1": "0,0", "0,2": "1,2", "0,3": "2,3",
                            "1,0": "1,3", "1,1": "2,2", "1,2": "0,2", "1,3": "1,0",
                            "2,0": "3,0",               "2,2": "1,1", "2,3": "0,3",
                            "3,0": "2,0", "3,1": "2,1", "3,2": "3,3", "3,3": "3,2"

                    },
                    "3,2": {
                            "0,0": "2,0", "0,1": "1,1", "0,2": "0,3", "0,3": "0,2",
                            "1,0": "1,3", "1,1": "0,1", "1,2": "2,1", "1,3": "1,0",
                            "2,0": "0,0", "2,1": "1,2",               "2,3": "3,3",
                            "3,0": "3,1", "3,1": "3,0", "3,2": "2,2", "3,3": "2,3"
                    },

                    //inside
                    "1,2": {
                            "0,0": "0,1", "0,1": "0,0", "0,2": "3,2", "0,3": "2,1",
                            "1,0": "2,0",               "1,2": "1,1", "1,3": "3,3",
                            "2,0": "1,0", "2,1": "0,3", "2,2": "2,3", "2,3": "2,2",
                            "3,0": "3,1", "3,1": "3,0", "3,2": "0,2", "3,3": "1,3"
                    },
                    "1,1": {
                            "0,0": "2,2", "0,1": "3,1", "0,2": "0,3", "0,3": "0,2",
                            "1,0": "3,0", "1,1": "1,2",               "1,3": "2,3",
                            "2,0": "2,1", "2,1": "2,0", "2,2": "0,0", "2,3": "1,3",
                            "3,0": "1,0", "3,1": "0,1", "3,2": "3,3", "3,3": "3,2"
                    },
                    "2,2": {
                            "0,0": "0,1", "0,1": "0,0", "0,2": "3,2", "0,3": "2,3",
                            "1,0": "2,0", "1,1": "3,3", "1,2": "1,3", "1,3": "1,2",
                            "2,0": "1,0",               "2,2": "2,1", "2,3": "0,3",
                            "3,0": "3,1", "3,1": "3,0", "3,2": "0,2", "3,3": "1,1"
                    },
                    "2,1": {
                            "0,0": "2,0", "0,1": "3,1", "0,2": "0,3", "0,3": "0,2",
                            "1,0": "1,1", "1,1": "1,0", "1,2": "3,0", "1,3": "2,3",
                            "2,0": "0,0", "2,1": "2,2",               "2,3": "1,3",
                            "3,0": "1,2", "3,1": "0,1", "3,2": "3,3", "3,3": "3,2"
                    }
                };

                var stepper = {};

                function check(){
                    if(player_wins(USER)){
                        alert("You Won !!!");
                        return 1;
                    }

                    if(player_wins(COMP)){
                        alert("Computer wins !");
                        return 1;
                    }

                    if(board_full()){
                        alert("Draw ... No One Won !");
                        return 1;
                    }
                    return 0;
                }

                function play() {
                    if (this.innerHTML === '') {
                        this.innerHTML = USER;
                        this.style.color='blue';

                        this.r = this.id.split(",")[0];
                        this.c = this.id.split(",")[1];

                        board[this.r][this.c] = USER;
                        var status = check();
                        if (status == 1) return;

                        if(firstTime ==1){
                            stepper = strategy[this.id];
                            firstTime = 9;
                        }

                        var rc = stepper[this.id];
                        console.log(rc);
                        document.getElementById(rc).innerHTML = COMP;
                        document.getElementById(rc).style.color='red';

                        r = rc.split(",")[0];
                        c = rc.split(",")[1];


                        board[r][c] = COMP;
                        status = check();
                        if (status == 1) return;
                    }
                }

                for(var i =0; i < 4; i++){
                    for(var j=0; j < 4; j++){
                        document.getElementById(i+","+j).onclick = play;
                    }
                }

                document.getElementById("reset").onclick = function() {
                    for(var i =0; i < 4; i++){
                        for(var j=0; j < 4; j++){
                            document.getElementById(i+","+j).innerHTML = '';
                        }
                    }
                    reset_board();
                }

                function fillBox(cell){
                    var isEmpty = occupied(cell);
                    if(isEmpty){
                        var player = findPlayerTurn();
                        if(player===COMP){
                            document.getElementById(cell).style.color='red';
                        }
                        if(player===USER){
                            document.getElementById(cell).style.color='blue';
                        }
                    }
                }

                function occupied(cell){
                    var free = document.getElementById(cell).innerHTML;
                    if(free===USER || free===COMP){
                        return false;
                    }
                    return true;
                }
            }
        </script>

    </head>

    <body>
    <br><br><br><br><br><br><br><br><br>

    <div class="sqr" style="width:400px; margin:0 auto;">
        <div id="0,0" onclick="fillBox('0,0')"></div>
        <div id="0,1" onclick="fillBox('0,1')"></div>
        <div id="0,2" onclick="fillBox('0,2')"></div>
        <div id="0,3" onclick="fillBox('0,3')"></div>
        <div id="1,0" onclick="fillBox('1,0')"></div>
        <div id="1,1" onclick="fillBox('1,1')"></div>
        <div id="1,2" onclick="fillBox('1,2')"></div>
        <div id="1,3" onclick="fillBox('1,3')"></div>
        <div id="2,0" onclick="fillBox('2,0')"></div>
        <div id="2,1" onclick="fillBox('2,1')"></div>
        <div id="2,2" onclick="fillBox('2,2')"></div>
        <div id="2,3" onclick="fillBox('2,3')"></div>
        <div id="3,0" onclick="fillBox('3,0')"></div>
        <div id="3,1" onclick="fillBox('3,1')"></div>
        <div id="3,2" onclick="fillBox('3,2')"></div>
        <div id="3,3" onclick="fillBox('3,3')"></div>
    </div>
    <button id="reset">Restart</button>
            <pre>
O: Computer Move
X: User/You

            </pre>



    <br><br><br><br><br><br><br><br><br>

    </body>
</html>