<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/stylesheets/urlshortener.css" rel="stylesheet">
      <script>
        function validateForm() {
            var x = document.forms["urlshortener"]["url"].value;
            var expression = /[-a-zA-Z0-9@:%_\+.~#?&//=]{2,256}\.[a-z]{2,4}\b(\/[-a-zA-Z0-9@:%_\+.~#?&//=]*)?/gi;
            var regex = new RegExp(expression);
            if (!x.match(regex) ) {
              alert("Please Enter A Valid, the one entered doesn't match a standard URL Pattern");
              return false;
            }
        }
    </script>

  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">URL Shortener</a>
        </div>
      </div>
    </div>
    <div class="container">

      <br><br><br><br>
        <div class="brand" >
        URL shortener is a simple web application to tinify the given long URL into a short form so as to make its usage
        convenient to the regular users. This app uses a custom database to keep the original URL and creates a short
        form of its version.

        More Information: Internally the app uses base62 encoding format to shorten the URL(s). The symbol set which is
        called Sigma in Mathemetical system includes characters: [0-9, A-Z and a-z]. This set of all these symbols makes
        its size 62, which is nothing but the base 62 symbols set.
        </div>
        <br><br><br><br>

      <form name="urlshortener" action="urlshortener" method="post"  onsubmit="return validateForm()">
        <div><textarea name="url" class="input-block-level" rows="1"></textarea></div>
        <div><input type="submit" class="btn btn-large btn-primary" value="shorten"></div>
      </form>

      <hr>

      Shortened URL(s) So Far:
      {% for entry in entries %}
          <table border="1">
            <tr>
              <td>
                Original
              </td>
              <td>
                <a href="{{ entry.url }}">{{ entry.url }}</a>
              </td>
            </tr>
            <tr>
              <td>
                Shortened
              </td>
              <td>
                <a href="./r?t={{ entry.shortened }}">http://nchikkam-mvly.appspot.com/r?t={{ entry.shortened }}</a>
              </td>

            </tr>
          </table>

      {% endfor %}

    </div>
  </body>
</html>
{% endautoescape %}