{% extends "base.html" %}
{% block content %}
    <h1>Big Data Store REST API(s)</h1>
    <p>A Single page to show Usage of REST API(s) with 3 other end points that parse data from Datastore.
       For the sake of simplicity and time limits of this project, an in-memory data structure has been used.
       For more details contact: <a href="mailto:nchikkam@gmail.com">Narayana</a>
    </p>
    <form action="https://bigdata-retpath.herokuapp.com/us/rawdata/1.0/searchitems" method="post" name="">
        {{ form.hidden_tag() }}
        The page showcases a set of 3 REST API(s) namely:
        <pre>
<a href="https://bigdata-retpath.herokuapp.com/us/rawdata/1.0/searchitems">GET All Data Store Records</a> GET Many Records
<a href="https://bigdata-retpath.herokuapp.com/us/rawdata/1.0/searchitems/5">GET Top 'X' Data Store Records</a> GET few records (../searchitems/TOP_X_LIMIT)

        </pre>
Below is POST request with Search word as Payload:
        <hr>
        <p>
            Enter a search word to search for its presence in Data Store:<br><br>
            {{ form.search_word(size=20) }}
            <p><input type="submit" value="Search With SearchWord"></p>
            {% for error in form.search_word.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

            {% if searchitems %}
                <br><br>
                Current Data in the Store:<br>
                {% for item in searchitems %}
                    <li>{{ item.data }} </li>
                {% endfor %}
            {% else %}
                <p> Search Yields NO Results </p>
            {% endif %}
        </p>
        
    </form>
   
{% endblock %}