body {
  max-width: 800px;
  margin: 20px auto;
  font-family: sans-serif;
}
.gh {
  text-align: right;
}
.result  h3 + div {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
}
h1 code {
  font-size: 2em;
}
pre {
  font-size: 1.5rem;
  background: #efefef;
  padding: 1em;
}
textarea {
  font-family: monospace;
}
