#board td {
width: 18px;
height: 18px;
text-align: center;
}
body {
    margin: 0;
    padding: 0;
    text-align: center; /* !!! */
}

.centered {
    margin: 0 auto;
    text-align: left;
    width: 800px;
}

.sqr{width:400px; height:400px}
.sqr div{
    float:left;
    width:23%;
    height:23%;
    border:1px solid white;
    box-sizing:border-box;
    background-color:rgba(158, 158, 158, 0.45);
    text-align: center;
    font-size: 60px;
    font-family:'Comic Sans MS', Helvetica, sans-serif;
}